:root {
  /* button bg color */
  --color-green: #4A707A;
  /* btn hover */
  --color-green-hover: #426B69;
  --color-body: #F7F9FA;
  /* card bg color */
  --color-white-cloud: #F2F5F7;
  /* borders  */
  --color-grey: #D1D9E0;
  /* footer bg  */
  --color-bg-footer: #2C4B72;
}

@import "tailwindcss";